/* .contenedor {
  border: 5px solid #e1bee7;
  background-color: #fff1ff;
  display: grid;
  grid-template-rows: 100px 200px;
  grid-auto-columns: 100px;
  grid-auto-flow: column;
} */
.contenedor {
  border: 5px solid green;
  background-color: rgb(78, 126, 8);
  display: grid;
  grid-template-rows:  100px 100px 100px;
  grid-template-columns: 100px 100px;
  gap: 20px;
  grid-auto-flow: column;
}
.item{
    border: 5px solid rgb(75, 218, 32);
    font-size: 4rem;
}