.contenedor {
  border: 5px solid #e1bee7;
  background-color: #fff1ff;
  display: grid;
  grid-template-columns: 100px 200px 300px;
  grid-auto-rows: 150px;
}
.item{
    border: 5px solid #00bcd4;
    font-size: 4rem;
}