.contenedor {
  border: 5px solid #e1bee7;
  background-color: #fff1ff;
  display: grid;
  height: 600px;
  grid-template-columns: 200px 200px;
  grid-template-rows: 200px 200px ;
  place-content: center;
  place-items: end;
}
.item {
  border: 5px solid #00bcd4;
  font-size: 4rem;
}
